@using Sitecore.Mvc
@* @using Sitecore.Mvc.Analytics.Extensions *@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
        <link rel="stylesheet" type="text/css" href="styles/sample.css">
        @* @Html.Sitecore().VisitorIdentification() *@
    </head>
    <body>
        <h1>@Html.Sitecore().Field("title")</h1>
        <div>
            @Html.Sitecore().Placeholder("main")
        </div>
    </body>
</html>